{
  "version": 1,
  "html": {
    "enable": true,
    "autoprefixer": true,
    "dest": ""
  },
  "css": {
    "enable": true,
    "autoprefixer": true,
    "sourceMaps": true,
    "dest": ""
  },
  "js": {
    "enable": true,
    "sourceMaps": true,
    "dest": ""
  },
  "minify": {
    "html": false,
    "css": false,
    "js": false
  },
  "compilers": {
    "sass": {
      "enable": true,
      "outputStyle": "expanded"
    }
  },
  "files": {
    "style.scss": {
      "enable": true,
      "dest": "style.css"
    }
  }
}